/* ======Common Css====== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li,
ol,
a {
  list-style: none;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
span {
  display: inline-block;
}
img {
  vertical-align: middle;
}

/* ======Common Class====== */
.headingOne {
  font-size: 49px;
  font-weight: 700;
  line-height: auto;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.headingTwo {
  font-size: 40px;
  font-weight: 700;
  line-height: auto;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.headingThree {
  font-size: 32px;
  font-weight: 700;
  line-height: auto;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.headingFour {
  font-size: 25px;
  font-weight: 700;
  line-height: auto;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.headingFive {
  font-size: 20px;
  font-weight: 700;
  line-height: auto;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.headingSix {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  font-family: var(--font_dmSans);
  color: var(--color_262626);
}
.para {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--font_dmSans);

  color: var(--color_767676);
}
.largeBtn {
  background-color: var(--color_262626);
  border: none;
  padding: 16px 0;
  color: #ffffff;
  width: 185px;
  border-radius: 10px;
  font-weight: 700;
  transition: all linear 0.4s;
  &:hover {
    background-color: var(--color_ffffff);
    color: var(--color_262626);
    border: 1px solid var(--color_767676);
  }
}
.largeDevice {
  display: none;
}
.smallBtn {
  padding: 9px 32px;
  background-color: var(--color_262626);
  color: #ffffff;
  border: none;
  transition: all linear 0.4s;
  &:hover {
    background-color: var(--color_ffffff);
    color: var(--color_262626);
    border: 1px solid var(--color_767676);
  }
}
.cursor {
  cursor: pointer;
}
